.toolbar-container {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #75a7ff;
  align-items: center;
}

.icon-btn-container {
  display: grid;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.icon-btn-container > div {
  box-sizing: content-box;
  margin: 10px 10px;
  display: grid;
  justify-content: center;
}

.icon-btn-container:hover {
  background-color: #2979ff;
}

.icon-btn-container > div > p {
  color: white;
  margin: 0;
  font-size: 9pt;
}
