.bottom-navigator {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  background-color: var(--p-dark);
}

.navigator-btn {
  padding: 0 12px;
  border: none;
  text-decoration: none;
}

.navigator-btn-active {
  background-color: var(--primary);
}

.navigator-btn-inactive:hover {
  background-color: var(--p-dim);
}

.navigator-btn-text {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-btn-container {
  display: flex;
  justify-content: center;
}

.separator {
  height: 100%;
  width: 1px;
  background-color: var(--p-dark);
}
