.navigator-button {
  background-color: #2979ff;
  padding: 0 12px;
  font-size: 12pt;
  border: none;
  text-decoration: none;
}

.navigator-button-text {
  font-weight: 300;
  color: white;
}

.focused-navigator-button {
  background-color: #004ecb;
}

.bottom-navigator-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #2979ff;
  height: 48px;
}

.navigation-btn-container {
    display: flex;
    justify-content: center;
}

.separator {
    height: 100%;
    width: 1px;
    background-color: #004ecb;
}
