.navigator-button {
    background-color: rgb(93, 192, 250);
    padding: 6px;
    padding-top: 0;
    font-size: 12pt;
    border-radius: 4px;
    border: 1px solid rgb(53, 141, 192);
    text-decoration: none;
}

.navigator-button-text {
    font-weight: 300;
    color: white;
}


.focused-navigator-button {
    background-color: blue;
}

/* #region that is affected by the curvature of the application window */
.leftmost-navigator-button {
    border-bottom-left-radius: 12px;
}
/* #endregion */

.bottom-navigator-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(93, 192, 250);
    height: 48px;
}